$color-primary: #315697; // 主图色
$bgColor-opacity: rgba(255, 255, 255, .3);
$selectBg: rgba(255, 255, 255, .6);
$tableTitleText: #011a16;
$tableTitleBg: rgba(255, 255, 255, .8);
$greenLight: #006358;
$geneToolSelectBg: #002420;
$statusText: #01af9c;

// $color-primary: rgb(55, 86, 147);

$color-menu-bg: rgb(41, 63, 108);
$color-submenu-bg: rgb(27, 42, 72);
$color-addmenu-bg: rgb(26, 47, 88);
$color-menu-active: rgb(67, 112, 204);

$color-main-bg: #d4dae1;

$color-title: rgb(62, 78, 99);

$color-warning: #F56C6C;

$borderColor: $color-primary;
$bgColor: $color-primary;
$textColor: $color-primary;